APP_NAME=sessionflow-api
APP_PORT=8888

# MongoDB configuration
DB_HOST=localhost
DB_USERNAME=mongodb
DB_PASSWORD=<your password>
DB_NAME=sessionflow
DB_PORT=27017
DB_AUTH_SOURCE=

JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=3600s